div#sigar-network-metrics-container {
  margin-bottom: 30px;
}

#sigar-network-metrics-container.collapsed {
  display: none;
}

span.expand-network {
  cursor: pointer;
}

div#sigar-disk-metrics-container {
  margin-bottom: 30px;
}

#sigar-disk-metrics-container.collapsed {
  display: none;
}

span.expand-disk {
  cursor: pointer;
}

div#sigar-cpu-metrics-container {
  margin-bottom: 30px;
}

#sigar-cpu-metrics-container.collapsed {
  display: none;
}

span.expand-cpu {
  cursor: pointer;
}

div#sigar-ram-metrics-container {
  margin-bottom: 30px;
}

#sigar-ram-metrics-container.collapsed {
  display: none;
}

span.expand-ram {
  cursor: pointer;
}
