div#sigar-network-metrics {
  margin-bottom: 30px;
}

#sigar-network-metrics.collapsed {
  display: none;
}

span.expand-network {
  cursor: pointer;
}

div#sigar-disk-metrics {
  margin-bottom: 30px;
}

#sigar-disk-metrics.collapsed {
  display: none;
}

span.expand-disk {
  cursor: pointer;
}

div#sigar-cpu-metrics {
  margin-bottom: 30px;
}

#sigar-cpu-metrics.collapsed {
  display: none;
}

span.expand-cpu {
  cursor: pointer;
}

div#sigar-ram-metrics {
  margin-bottom: 30px;
}

#sigar-ram-metrics.collapsed {
  display: none;
}

span.expand-ram {
  cursor: pointer;
}
